#footer {

  & a { 
    color: #dcdde1;
  }

  & a:hover { 
    color: #68bb7d;
  }

  & ul.footer-link-list li { 
    padding-top: 10px;
  }

  & ul.footer-icons li {
    width: 2.6em;
    height: 2.6em;
    line-height: 2.6em;
  }

  & ul.footer-icons li {
    width: 2.6em;
    height: 2.6em;
    line-height: 2.6em;
  }

  & ul.footer-icons li:hover {
    background-color: #cfd6e1;
    transition: .5s;
  }

  & ul.footer-icons li:hover i {
    color: #212934;
    transition: .5s;
  }

  & .border-light { 
    border-color: #2d343f !important;
  }
} 

