.shop-top-menu {
    & a:hover { color: #69bb7e !important;}
} 

.product-wap {
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.10);
}

.card.product-wap {
    & .card .product-overlay {
        background: rgba(0,0,0,.2);
        visibility: hidden;
        opacity: 0;
        transition: .3s;
    }

    &:hover .card .product-overlay {
        visibility: visible;
        opacity: 1;
    }

    & a { color: #000;}
    #carousel-related-product .slick-slide:focus { outline: none !important;}
    #carousel-related-product .slick-dots li button:before {
        font-size: 15px;
        margin-top: 20px;
    }
} 

.pagination {
    & .page-link:hover {
        color: #000;
    }

    & .page-link:hover, .pagination .page-link.active {
        background-color: #69bb7e;
        color: #fff;
    }
} 

.accordion {
    & a { 
        color: #000;
    }

    & a:hover { color: #333d4a;}
} 