<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		<link
		rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
		{# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}

		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
		{% endblock %}
	</head>
	<body>
		<!-- Top Nav -->
		<nav class="navbar navbar-expand-lg bg-dark navbar-light d-none d-lg-block" id="nav_top">
			<div class="container text-light">
				<div class="w-100 d-flex justify-content-between">
					<div>
						<i class="fa fa-envelope mx-2"></i>
						<a class="navbar-sm-brand text-light text-decoration-none" href="mailto:contact@eshopper.com">contact@eshopper.com</a>
						<i class="fa fa-phone mx-2"></i>
						<a class="navbar-sm-brand text-light text-decoration-none" href="tel:010-020-0340">04 67 35 25 25</a>
					</div>
					<div>
						<a class="text-light" href="https://fr-fr.facebook.com/" target="_blank" rel="sponsored">
							<i class="fab fa-facebook-f fa-sm fa-fw me-2"></i>
						</a>
						<a class="text-light" href="https://www.instagram.com/" target="_blank">
							<i class="fab fa-instagram fa-sm fa-fw me-2"></i>
						</a>
						<a class="text-light" href="https://twitter.com/" target="_blank">
							<i class="fab fa-twitter fa-sm fa-fw me-2"></i>
						</a>
						<a class="text-light" href="https://www.linkedin.com/" target="_blank">
							<i class="fab fa-linkedin fa-sm fa-fw"></i>
						</a>
					</div>
				</div>
			</div>
		</nav>
		<!-- Top Nav -->

		<!-- Header -->
		<nav class="navbar navbar-expand-lg navbar-light shadow">
			<div class="container d-flex justify-content-between align-items-center">
				<a class="navbar-brand text-success logo h1 align-self-center" href="index.html">
					Eshopper
				</a>
				<button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse" data-bs-target="#main_nav" aria-controls="main_nav" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="align-self-center collapse navbar-collapse flex-fill  d-lg-flex justify-content-lg-between" id="main_nav">
					<div class="flex-fill">
						<ul class="nav navbar-nav d-flex justify-content-center mx-lg-auto">
							<li class="nav-item">
								<a class="nav-link" href="index.html">Accueil</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="contact.html">Contact</a>
							</li>
						</ul>
					</div>
					<div class="navbar align-self-center d-flex">
						<div class="d-lg-none flex-sm-fill mt-3 mb-4 col-7 col-sm-auto pr-3">
							<div class="input-group">
								<input type="text" class="form-control" id="inputMobileSearch" placeholder="Search ...">
								<div class="input-group-text">
									<i class="fa fa-fw fa-search"></i>
								</div>
							</div>
						</div>
						<a class="nav-icon d-none d-lg-inline" href="#" data-bs-toggle="modal" data-bs-target="#search">
							<i class="fa fa-fw fa-search text-dark mr-2"></i>
						</a>
						<a class="nav-icon position-relative text-decoration-none" href="#">
							<i class="fa fa-fw fa-cart-arrow-down text-dark mr-1"></i>
							<span class="position-absolute top-0 left-100 translate-middle badge rounded-pill bg-light text-dark">7</span>
						</a>
						<a class="nav-icon position-relative text-decoration-none" href="#">
							<i class="fa fa-fw fa-user text-dark mr-3"></i>
							<span class="position-absolute top-0 left-100 translate-middle badge rounded-pill bg-light text-dark">+99</span>
						</a>
					</div>
				</div>

			</div>
		</nav>
		<!-- Header -->
		{% block body %}{% endblock %}
	</body>
</html>
